<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="bnetlib Test Suite">
            <directory>./bnetlibTest/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>AuraPHP</group>
        </exclude>
    </groups>
</phpunit>