<?php
/**
 * This file is part of the bnetlib Library.
 * Copyright (c) 2012 Eric Boh <cossish@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code. You can also view the
 * LICENSE file online at https://gitbub.com/coss/bnetlib/LISENCE
 *
 * @copyright  2012 Eric Boh <cossish@gmail.com>
 * @license    http://coss.gitbub.com/bnetlib/license.html    MIT License
 */

/**
 * Global settings will overwrite other settings.
 * Example: TESTS_BNETLIB_ONLINE will overwrite TESTS_BNETLIB_CONNECTION_ONLINE
 */
defined('TESTS_ONLINE') || define('TESTS_ONLINE', true);


/**
 * Affect the following tests:
 * - testSignedRequest() requires to connect to a third party website in order to test _signRequest();
 */
defined('TESTS_CONNECTION_ONLINE') || define('TESTS_CONNECTION_ONLINE', true);